extends layout

block content
    h3 #{title}
    form(method='POST' action="/patients/add")
        .row
            .col-md-6
                #form-group
                    label Surname
                    input.form-control(name= 'surname' type='text' id="patient_surnamae")
                    span(style="color: red;", id="error1")
            .col-md-6
                #form-group
                    label Given name
                    input.form-control(name= 'givenName' type='text')
        .row
            .col-md-6
                #form-group
                    label Date of Birth
                    input.form-control(name= 'dob' type='date')
            .col-md-6
                #form-group
                    label Place of Residence
                    input.form-control(name= 'residence' type='text')
        .row
            .col-md-6
                #form-group
                    label Occupation
                    input.form-control(name= 'occupation' type='text')
            .col-md-6
                #form-group
                    label Nationality
                    input.form-control(name= 'nationality' type='text')
        h6 Gender:
        .row
            .col-md-6
                label
                input#male(style="width: 10%;" type="radio" value="Male" name="rating")
                | Male
            .col-md-6
                label
                input#female(style="width: 10%;" type="radio" value="Famale" name="rating")
                | Female            

        label Catergory 
            br
            select(name="category" placeholder ="sjsj")
                option() Select Category
                option(value="returnee") Retunee
                option(value="contact") Contact
                option(value="alert") Alert
                option(value="volunteer") Volunteer                        
        br                
        input.btn.btn-primary( type='submit' value= 'Register')
        
                    

    script(src="../js/patient_validation.js")